body {
    display: flex;
    flex-flow: column nowrap;
    padding: 20px 0;
    margin: 0 auto;
    width: clamp(300px, 80%, 550px);
    font-family: "Montserrat", sans-serif;
    gap: 40px;
    text-align: center;
  }

  header {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 20px;

    #logo {
      height: clamp(30px, 50%, 60px);
    }

    #logo {
      font-size: clamp(1.5rem, 1.5rem + 1.7857vw, 2.5rem);
      font-weight: 700;
      color: #09090b;
      display: flex;
      align-items: center;
    }

    #controls {
      display: flex;
      gap: 15px;
    }

    #controls > * {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      height: 35px;
      background-color: #f4f4f5;
      color: #09090b;
      border-radius: 5px;
      border: none;
      padding: 0 8px;
      font-size: 1.25rem;

      &:is(#game-type) {
        width: 55px;
      }

      &:is(#timer) {
        width: 60px;
      }

      &:is(button):hover {
        background-color: #09090b;
        color: #f4f4f5;
      }
    }
  }

  #puzzle {
    color: white;
    display: grid;
    border: 2px solid #f4f4f5;
    border-radius: 1rem;
    gap: clamp(0.625rem, 0.2455rem + 1.7857vw, 1.125rem);
    grid-template-columns: repeat(3, 1fr);
    aspect-ratio: 1 / 1;
    padding: clamp(0.925rem, 0.2455rem + 1.7857vw, 1.95rem);

    .piece {
      border-radius: 0.625rem;
      aspect-ratio: 1 / 1;
      display: flex;
      font-size: clamp(1.5rem, -6.3846rem + 27.6923vw, 4.5rem);
      font-weight: 700;
      justify-content: center;
      align-items: center;
      /* color: #09090b;
      background-color: #f4f4f5; */

      &:hover {
        cursor: pointer;
        border: 1px solid #09090b;
      }
    }
  }
  
  .blue {
    color: #1D4ED8;
    background-color: #EFF6FF;
}
.emerald {
    color: #047857;
    background-color: #ECFDF5;
}
.fuchsia {
    color: #A21CAF;
    background-color: #FDF4FF;
}
.green {
    color: #15803D;
    background-color: #ECFDF5;
}
.orange {
    color: #C2410C;
    background-color: #FFFAF0;
}
.pink {
    color: #BE185D;
    background-color: #FFF5F7;
}
.purple {
    color: #7C3AED;
    background-color: #F5F3FF;
}
.red {
    color: #DC2626;
    background-color: #FEF2F2;
}
.sky {
    color: #065F46;
    background-color: #ECFDF5;
}
.teal {
    color: #065F46;
    background-color: #ECFDF5;
}
.yellow {
    color: #D97706;
    background-color: #FFFBEB;
}
.neutral {
    color: #374151;
    background-color: #F9FAFB;
}
.lime {
    color: #065F46;
    background-color: #ECFDF5;
}
.amber {
    color: #D97706;
    background-color: #FFFBEB;
}
.cyan {
    color: #065F46;
    background-color: #ECFDF5;
}
.indigo {
    color: #4338CA;
    background-color: #EBF4FF;
}
.stone {
    color: #374151;
    background-color: #F9FAFB;
}
.slate {
    color: #1E3A8A;
    background-color: #EFF6FF;
}
.zinc {
    color: #4B5563;
    background-color: #F9FAFB;
}
.violet {
    color: #9333EA;
    background-color: #F3F0FF;
}
.gray {
    color: #6B7280;
    background-color: #F9FAFB;
}
.rose {
    color: #BE185D;
    background-color: #FFF5F7;
}

